*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(225,159,174);
    background: radial-gradient(circle, rgba(225,159,174,1) 0%, rgba(255,213,219,1) 60%, rgba(246,245,241,1) 100%);
}

img[alt~="logo"]{
    width: 16rem;
    height: 16rem;
}

img[alt~="album"]{
    height:4rem;
    width: 4rem;
}

.card-container{
    display: flex;
    gap: 20px;
    padding-left: 100px;
    padding-top: 10px;
}

.card{
    width: 10rem;
    height: 10rem;
    font-size: 10px;
    background-color: whitesmoke;
    color: #e66583;
    border-radius: 8px;
    box-shadow: 2px 6px 8px #0004;
    display: grid;
    text-align: center;
    place-items: center;
}