*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #f4f4f4;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    place-content: center;
    height: 100vh;
}

.card-container{
    display: flex;
    gap: 16px;
    flex-direction: column;
}

.card{
    position: relative;
    width: 78vw;
    height: 180px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 2px 4px #0004;
    padding: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-block: 16px;
    text-align: center;
}

.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.nomeMsg{
    text-align: left;
    padding-left: 110px;
}

.tempo{
    position: absolute;
    top: 20px;
    right: 20px;
}
